{% extends 'base.html.twig' %}

{% block title %}Изменение аггрегата ВТО{% endblock %}

{% block body %}
    <h1>Изменение аггрегата ВТО</h1>

    {{ include('aggregates_wto/_form.html.twig', {'button_label': 'Изменить'}) }}

    <a href="{{ path('types_of_wto_index') }}">Назад</a>
    {{ include('aggregates_wto/_delete_form.html.twig') }}
{% endblock %}
