{% extends 'base.html.twig' %}

{% block title %}Новый аггрегат ВТО{% endblock %}

{% block body %}
    <h1>Создание нового агрегата ВТО</h1>

    {{ include('aggregates_wto/_form.html.twig') }}
    <a href="{{ path('types_of_wto_index') }}">Назад</a>
{% endblock %}
