{% extends 'base.html.twig' %}

{% block title %}New AggregatesWTO{% endblock %}

{% block body %}
    <h1>Create new AggregatesWTO</h1>

    {{ include('aggregates_w_t_o/_form.html.twig') }}

    <a href="{{ path('aggregates_wto_index') }}">back to list</a>
{% endblock %}
