<form method="post" action="{{ path('quality_factor_work_performed_delete', {'id': quality_factor_work_performed.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quality_factor_work_performed.id) }}">
    <button class="btn">Delete</button>
</form>
