{% extends 'base.html.twig' %}

{% block title %}New QualityFactorWorkPerformed{% endblock %}

{% block body %}
    <h1>Create new QualityFactorWorkPerformed</h1>

    {{ include('quality_factor_work_performed/_form.html.twig') }}

    <a href="{{ path('quality_factor_work_performed_index') }}">back to list</a>
{% endblock %}
