<form method="post" action="{{ path('workers_skill_level_delete', {'id': workers_skill_level.id}) }}" onsubmit="return confirm('Вы действительно хотите удалить этот элемент?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ workers_skill_level.id) }}">
    <button class="btn btn-primary">Удалить</button>
</form>
