{% extends 'base.html.twig' %}

{% block title %}Edit WorkersSkillLevel{% endblock %}

{% block body %}
    <h1>Edit WorkersSkillLevel</h1>

    {{ include('workers_skill_level/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('workers_skill_level_index') }}">back to list</a>

    {{ include('workers_skill_level/_delete_form.html.twig') }}
{% endblock %}
