{% extends 'base.html.twig' %}

{% block title %}New WorkersSkillLevel{% endblock %}

{% block body %}
    <h1>Create new WorkersSkillLevel</h1>

    {{ include('workers_skill_level/_form.html.twig') }}

    <a href="{{ path('workers_skill_level_index') }}">back to list</a>
{% endblock %}
