{% extends 'base.html.twig' %}

{% block title %}Изменение коэффициента сложности работы{% endblock %}

{% block body %}
    <h1>Изменение коэффициента сложности работы</h1>

    {{ include('work_complexity_factors/_form.html.twig', {'button_label': 'Изменить'}) }}

    <a href="{{ path('types_of_wto_index') }}">Назад</a>

    {{ include('work_complexity_factors/_delete_form.html.twig') }}
{% endblock %}
