{% extends 'base.html.twig' %}

{% block title %}Создание коэффициента сложности работы{% endblock %}

{% block body %}
    <h1>Создание коэффициента сложности работы</h1>

    {{ include('work_complexity_factors/_form.html.twig') }}

    <a href="{{ path('types_of_wto_index') }}">Назад</a>
{% endblock %}
