{% extends 'base.html.twig' %}

{% block title %}Изменение видов ТО и РО{% endblock %}

{% block body %}
    <h1>Изменение видов</h1>

    {{ include('types_of_emar/_form.html.twig', {'button_label': 'Изменить'}) }}

    <a href="{{ path('types_of_wto_index') }}">Назад</a>
    {{ include('types_of_emar/_delete_form.html.twig') }}
{% endblock %}
