{% extends 'base.html.twig' %}

{% block title %}Создание вида ТО и РО{% endblock %}

{% block body %}
    <h1>Создание вида ТО и РО</h1>

    {{ include('types_of_emar/_form.html.twig') }}

    <a href="{{ path('types_of_wto_index') }}">Назад</a>
{% endblock %}
