{% extends 'base.html.twig' %}

{% block title %}Добавление коэффициента квалификации рабочих{% endblock %}

{% block body %}
    <h1>Добавление коэффициента квалификации рабочих</h1>

    {{ include('workers_qualification_coefficients/_form.html.twig') }}

    <a href="{{ path('maintenance_personnel_index') }}">Назад</a>
{% endblock %}
