{% extends 'base.html.twig' %}

{% block title %}New WorkersQualificationCoefficients{% endblock %}

{% block body %}
    <h1>Create new WorkersQualificationCoefficients</h1>

    {{ include('workers_qualification_coefficients/_form.html.twig') }}

    <a href="{{ path('workers_qualification_coefficients_index') }}">back to list</a>
{% endblock %}
