{% extends 'base.html.twig' %}

{% block title %}Edit TypesOfWTO{% endblock %}

{% block body %}
    <h1>Edit TypesOfWTO</h1>

    {{ include('types_of_wto/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{  path('types_of_wto_index') }}">Назад</a>
    {{ include('types_of_wto/_delete_form.html.twig') }}
{% endblock %}
