{% extends 'base.html.twig' %}

{% block title %}Изменение видов ВТО{% endblock %}

{% block body %}
    <h1>Изменение видов ВТО</h1>

    {{ include('types_of_wto/_form.html.twig', {'button_label': 'Изменить'}) }}

    <a href="{{  path('types_of_wto_index') }}">Назад</a>
    {{ include('types_of_wto/_delete_form.html.twig') }}
{% endblock %}
