{% extends 'base.html.twig' %}

{% block title %}Создание вида ВТо{% endblock %}

{% block body %}
    <h1>Создание видов ВТО</h1>

    {{ include('types_of_wto/_form.html.twig') }}

    <a href="{{ path('types_of_wto_index') }}">Назад</a>
{% endblock %}
